body {
    text-align: center;
}

h1 {
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
}

h2 {
    font-family: Arial;
    font-size: 12px;
}

img {
    width: 161px;
}

input {
    border: none;
    font-family: inherit;
    width: 100%;
    height: 34px;
    text-align: center;
    padding: 0;
    font-size: inherit;
}

input[type="checkbox"] {
    appearance: none;
    margin: 7px;
    width: 1em;
    height: 1em;
    border: 1px solid;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 14px;
    height: 14px;
    transform: scale(0);
    box-shadow: inset 1em 1em black;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

label {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 14px;
}

p {
    margin: 0;
    font-family: serif;
    font-size: 14px;
}

.core {
    margin-left: 140px;
}

.doubleCell .dTCell {
    height: calc(34px * 2);
}

.tripleCell .dTCell {
    height: calc(34px * 3);
}

/* dT.com */
.dT {
    margin: 0 auto;
    /* center table */
    display: table;
    border: 1px solid;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.dTBody {
    display: table-row-group;
}

.dTCell {
    display: table-cell;
    border: 1px solid;
    border-top: none;
    border-left: none;
    vertical-align: middle;
    height: 34px;
}

.dTCellL {
    border-left: 1px solid;
}

.dTRow {
    display: table-row;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerCell {
    background-color: #d9d9d9;
}

.headerCol1 {
    text-align: left;
    margin-left: 6px;
    width: 126px;
}

.headerCol2Cell {
    width: 516px;
}

.headerCol2Cell, .bodyCell {
    text-align: center;
}

.hours .dTRow:first-child {
    text-transform: uppercase;
}

.hoursTcol1 {
    width: 220px;
}

.hoursTcol2 {
    width: 186px;
}

.hoursTcol3 {
    width: 123px;
}

.hoursTcol4 {
    width: 225px;
}

.inline {
    display:inline-block;
}

.innerT {
    width: 100%;
    border-left: none;
    background-color: white;
}

.innerT .dTCell {
    width: 50%;
}

.innerTbot {
    border-bottom: none;
}

.innerTbotR {
    border-right: none;
}

.innerTRow {
    border-top: none;
}

.payperiod {
    border: none;
}

.payperiodCell input {
    width: 10em;
}

.payperiodCell {
    border-right: none;
    width: 384px;
}

.payperiodH2 {
    margin-right: 7px;
}

.pleaseEmail {
    font-style: italic;
}

.regHeader {
    text-transform: none;
}

.shiftCell div {
    display: none;
}

.signature {
    border-top: none;
    width: 642px;
}

.signature .dTCell {
    border-right: none;
    border-color: #a8a8a8;
}

.signature .dTCell:first-child {
    width: 11em;
    vertical-align: bottom;
}

.signature h2 {
    text-align: left;
}

.time {
    min-width: 0;
    width: 5em;
}

.totalCol1 {
    border-bottom: none;
}

.totalLabel {
    text-align: right;
    margin-right: 5px;
}