---
title: Index page
permalink: /
---
!!!
%html{lang: 'en'}
  %head
    %title AAS Payroll Inquiry Form Generator
    %link{rel: 'icon', href: 'data:,'}
    %link{rel: 'stylesheet', href: 'https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css'}/
    %link{rel: 'stylesheet', href: 'css/jquery.signature.css'}/
    %link{rel: 'stylesheet', href: 'css/index.css'}/
    %script{crossorigin: 'anonymous', integrity: 'sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=', src: 'https://code.jquery.com/jquery-3.7.1.js'}
    %script{src: 'https://releases.jquery.com/git/ui/jquery-ui-git.js'}
    %script{src: 'js/jquery.finger.js'}
    %script{src: 'js/jquery.timepicker.js'}
    %script{src: 'js/jquery.ui.touch-punch.js'}
    %script{src: 'js/jquery.signature.js'}
    %script{src: 'js/index.js'}
  %body
    .header
      %img{alt: 'aas', src: 'aas.png'}
      %h1 Payroll Inquiry Form
    .dT
      .dTBody
        .dTRow
          .dTCell.headerCell.dTCellL
            %h2.headerCol1 Full Name:
          .dTCell.headerCol2Cell
            %p
              %input{id: 'name'}/
        .dTRow
          .dTCell.headerCell.dTCellL
            %h2.headerCol1 Date Submitted:
          .dTCell.headerCol2Cell
            %p
              %input{class: 'date', type: 'text'}/
    .inline
      %label
        %input{checked: '', type: 'checkbox'}
        %h2 PRM
    .inline.core
      %label
        %input{type: 'checkbox'}
        %h2 CORE
    %br/
    .dT.payperiod
      .dTBody
        .dTCell.payperiod
          %h2.payperiodH2 This Inquiry is for Pay Period Dated:
        .dTCell.payperiodCell
          %p
            %input{class: 'date'}/
            to
            %input{class: 'date'}/
    %br/
    .dT.hours
      .dTBody
        .dTRow
          .dTCell.headerCell.dTCellL.hoursTcol1
            %h2
              Date&nbsp;
              %i (DD/MM/YYYY)
          .dTCell.headerCell.hoursTcol2
            %h2 Shift
          .dTCell.headerCell.hoursTcol3
            %h2 Missing Hrs
            .dT.innerT
              .dTBody
                .dTRow
                  .dTCell.innerTbot
                    %h2.regHeader Reg.
                  .dTCell.innerTbot.innerTbotR
                    %h2 O/T
          .dTCell.headerCell.hoursTcol4
            %h2 Comments / Explanation
        .dTRow.total
          .dTCell.totalCol1
          .dTCell.headerCell
            %h2.totalLabel Total Missing:
          .dTCell
            .dT.innerT.innerTRow
              .dTBody
                .dTRow
                  .dTCell.innerTbot.regTotal
                  .dTCell.innerTbot.innerTbotR.otTotal
    %br
    %h2.pleaseEmail Please email this form to your respected department scheduler.
    %p
      CORE:&nbsp;
      %a{href: 'mailto:myschedule@aascanada.com?subject=completed payroll inquiry form'} myschedule@aascanada.com
      %br
      PRM:&nbsp;
      %a{href: 'mailto:prm.myschedule@aascanada.com?subject=completed payroll inquiry form'} prm.myschedule@aascanada.com
    .dT.signature
      .dTBody
        .dTRow
          .dTCell
            %h2 Employee Signature:
          .dTCell