---
title: Row
permalink: /row
---
.dTRow.row
  .dTCell.dTCellL
    %p
      %input{class: "date", type: "text"}/
  .dTCell.shiftCell
    %div
      %button.single single
      %button.double double
      %button.triple triple
  .dTCell
    .dT.innerT.innerTRow
      .dTBody
        .dTRow
          .dTCell.innerTbot
            %p
              %input.reg{inputmode: "numeric"}/
          .dTCell.innerTbot.innerTbotR
            %p
              %input.ot{inputmode: "numeric"}/
  .dTCell
    %p
      %input{type: "text"}/